.aboutSec {
    margin-top: 100px;
}

.profilePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 140px;
}

.textSliderAbout {
    text-align: justify;
    color: #555;
    font: inherit;
    line-height: 30px;
    font-size: 17px;
    margin-left: 17px;
    padding-left: 0%;
    margin-top: 45px;
}